h1{
  color:blue;
  margin-left: 30%;
}

.image{
  height: 200px;
  width:200px;
}

.audio{
  display: none;
  width:200px;
}

.down{
 text-decoration: none;
  display: none;
}

.play{
  height: 30px;
}

.main{
  border: 2px solid black;
  height: 200px;
  width: 200px;
  margin-bottom: 190px;
}

#non{
  width:860px;
  display: flex;
  justify-content: space-between;
  row-gap: 15px;
  flex-wrap: wrap;
}